.container {
    margin-top: 20px;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .card {
    margin-top: 20px;
  }
  
  .card-body {
    white-space: pre-line; /* Preserves line breaks in textarea */
  }
  